Exemplos_Cap_4_XSD/sol_2001_schema/sistemaEstelar_nons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="imagem" type="imagemType"/>
	<xs:simpleType name="astroID">
		<xs:restriction base="xs:ID">
			<xs:pattern value="\c\d.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="imagemType">
	  <xs:simpleContent>
	     <xs:restriction base="xs:string">
		    <xs:attribute name="href" type="xs:anyURI"/>
		  </xs:restriction>
	  </xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="astroType">
		<xs:sequence>
			<xs:element ref="imagem" minOccurs="0"/>
			<xs:element name="satelite" type="sateliteType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="astroID" use="required"/>
		<xs:attribute name="nome" type="xs:string" use="required"/>
		<xs:attribute name="diametrokm" type="xs:decimal"/>
	</xs:complexType>
	<xs:complexType name="sateliteType">
		<xs:complexContent>
			<xs:extension base="astroType">
				<xs:attribute name="raioMedOrbitakm" type="xs:decimal"/>
				<xs:attribute name="anoDescobrimento" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cometaType">
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="nome" type="xs:string" use="required"/>
		<xs:attribute name="planetas" type="xs:IDREFS"/>
	</xs:complexType>
	<xs:element name="cometa" type="cometaType"/>
	<xs:complexType name="centroType">
		<xs:sequence>
			<xs:element name="estrela" type="estrelaType"/>
			<xs:element ref="imagem" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="estrelaType">
		<xs:complexContent>
			<xs:extension base="astroType">
				<xs:sequence>
					<xs:element name="satelite" type="sateliteType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="cor" type="xs:token"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="orbitaType">
		<xs:choice>
			<xs:element name="estrela" type="estrelaType"/>
			<xs:element name="planeta" type="sateliteType"/>
			<xs:element name="asteroide" type="sateliteType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="raioMedUA" type="xs:decimal"/>
	</xs:complexType>
	<xs:element name="sistemaEstelar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="centro" type="centroType"/>
				<xs:element name="orbita" type="orbitaType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cometa" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
