Exercicios_OLD/Parte_4_schema_ns_tipos/cometas.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.cosmos.org.br/cometas"
           targetNamespace="http://www.cosmos.org.br/cometas">
		<xs:complexType name="cometaType">
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="nome" type="xs:string" use="required"/>
			<xs:attribute name="planetas" type="xs:IDREFS"/>
		</xs:complexType>
		<xs:element name="cometa" type="cometaType"></xs:element>
</xs:schema>
