Exercicios_OLD/Parte_4_schema_ns_tipos/sistemaEstelar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	       xmlns="http://www.cosmos.org.br" 
	       targetNamespace="http://www.cosmos.org.br" 
	       elementFormDefault="qualified">

	<!-- Importe aqui os namespaces que voce precisa, e declare cada um, com os prefixos sugeridos abaixo (ou outros) -->

	<xs:complexType name="centroType">
		<xs:sequence>
			<xs:element name="estrela" type="estrelaType"/>
			<xs:element ref="st:imagem" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="estrelaType">
		<xs:complexContent>
			<xs:extension base="st:astroType">
				<xs:sequence>
					<xs:element name="satelite" type="st:sateliteType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="cor" type="xs:token"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="orbitaType">
		<xs:choice>
			<xs:element name="estrela" type="estrelaType"/>
			<xs:element name="planeta" type="st:sateliteType"/>
			<xs:element name="asteroide" type="st:sateliteType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="raioMedUA" type="xs:decimal"/>
	</xs:complexType>
	<xs:element name="sistemaEstelar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="centro" type="centroType"/>
				<xs:element name="orbita" type="orbitaType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cm:cometa" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
