WorkspaceAula/intro.xsd

<?xml version = "1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="message" type="xsd:string" />
    <xsd:element name="myMessage" type="myMessageType" />
    
    <xsd:complexType name="myMessageType">
      <xsd:sequence>
        <xsd:element ref="message" />
      </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>
