Exemplos_Cap_4_XSD/sol_2001_dtd/solucao/sistemaEstelar_Dois.dtd


<!ENTITY % satelite SYSTEM "satelite.dtd">
%satelite;

<!ELEMENT sistemaEstelar (centro, orbita*)>
<!ELEMENT centro (estrela)>
<!ELEMENT orbita (estrela|planeta)>
<!ELEMENT estrela (satelite*)>
<!ELEMENT planeta (satelite*)>
<!ATTLIST estrela id ID #REQUIRED
                  nome CDATA #REQUIRED
                  cor  NMTOKEN #IMPLIED>
<!ATTLIST planeta id ID #REQUIRED
                  nome CDATA #REQUIRED>
